<footer class="container-fluid footer-index text-light">
    <section class="row w-100">
          
          <section class="col-12 container-pages w-100">       
            <ul class="container-pages-ul d-flex flex-row flex-wrap justify-content-start align-items-start gap-5">
              <h6 class="title-footer">Energy Suplementos</h6>
              <li class="box-pages d-flex flex-column justify-content-center align-items-start">
                <h3>Paginas</h3>
                <a href="/" class="text-decoration-none text-light">Inicio</a>
                <a href="about" class="text-decoration-none text-light">Sobre Nosotros</a>
                <a href="contact" class="text-decoration-none text-light">Contacto</a>
                <a href="404" class="text-decoration-none text-light">Preguntas</a>
              </li>
              <li class="box-pages d-flex flex-column justify-content-center align-items-start">
                <h3>Clientes</h3>
                <a href="404" class="text-decoration-none text-light">Devoluciones</a>
                <a href="404" class="text-decoration-none text-light">Seguimientos</a>
                <a href="404" class="text-decoration-none text-light">Promociones</a>
                <a href="404" class="text-decoration-none text-light">Puntos por compras</a>
              </li>
              <li class="box-pages d-flex flex-column justify-content-center align-items-start">
                <h3>Empresa</h3>
                <a href="404" class="text-decoration-none text-light">Nuestro Equipo</a>
                <a href="404" class="text-decoration-none text-light">Blog & Articulos</a>
                <a href="404" class="text-decoration-none text-light">Socios</a>
                <a href="404" class="text-decoration-none text-light">Trabaja con nosotros</a>
              </li>
            </ul>
          </section>
      
          <section class="col-12 text-center mt-2 mb-2">©2024 Energy Suplementos</section>
    </section>
</footer>