<section class="section-legales col-12 d-flex justify-content-center align-items-center gap-4">
    <article class="card-legales">
        <p class="card-legales-text">
            ¿Te arrepentiste de comprar? <br>
            <a href="mailto:devoluciones@energy.com">comunicate a devoluciones@energy.com</a>
        </p>
    </article>
    <article class="card-legales">
        <p class="card-legales-text">
            ¿Conocés las normas que protegen tus compras? <br>
            <a target="_blank" href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638">Contratos de adhesión - Ley N° 24.240 de Defensa del Consumidor</a>
        </p>
    </article>
</section>