---
import Brands from "./Brands.astro";
import Info from "./Info.astro";
import Legales from "./Legales.astro";
---

<main class="container-fluid">
    <section class="row">
        <h3 class="col-12 text-center title-brands">Marcas que comercializamos</h3>
        <Brands/>
        <Info/>
        <Legales/>
    </section>
</main>