---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import image from "../assets/img/e-collaborating-or-sharing-a-message.webp"
---

<Layout title="E-Commerce Energy - Encontra los mejores suplementos deportivos">
    <section class="container-fluid">
        <section class="row">
            <section class="col-12 d-flex flex-column justify-content-center align-items-center gap-1 p-4">
                <figure>
                    <Image src={image} alt="e-collaborating-or-sharing-a-message"/>
                </figure>
                <h1 class="text-dark text-alig-center">Pagina en desarrollo</h1>
                <h2 class="text-dark text-alig-center">Vuelva pronto</h2>
            </section>
        </section>
    </section>
	
</Layout>