.footer-index{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 15px 30px;
    .title-footer{
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        color: #f8f9fa;
        opacity: .6;
    }
}