.header-index{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    .header-index-titles{
        width: 50%;
        height: 100%;
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        gap: 30px;
        color: map-get($colors , light );
        .title{
            font-size: 9rem;
            font-weight: 700;
            opacity: .5;
        }
        .subtitle{
            position: absolute;
            top: 43%;
            left: 70px;
            font-size: 3rem;
            font-weight: 600;
        }
        .text{
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0 0 0 15px;
        }
        .btn-call-to-action{
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            color: map-get($colors , light );
            background-color: transparent;
            border: 2px solid map-get($colors , light );
            border-radius: 10px;
            padding: 10px 30px;
            margin: 0 0 0 15px;
            svg{
                width: 40px;
                height: 25px;
                margin: 0 0 0 10px;
                transition: all .5s;
            }
            &:hover svg{
                transform: translateX(15px) !important;
            }
        }
    }
    .header-index-image{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .image{
            width: 600px;
            height: 600px;
            z-index: 3;
            margin: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}

.custom-shape-divider-top-1708812095 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
        .shape-fill {
            fill: map-get($colors , light );
        }
    }
}

.header-pages{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    h1{
        font-size: 4rem;
        font-weight: 700;
        color: map-get($colors , light );
    }
    .custom-shape-divider-bottom-1708964408 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 155px;
            .shape-fill {
                fill: map-get($colors , light );
            }
        }
    }
}