.article-parrafo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 90px 0 0 60px;
    .line{
        width: 40px;
        height: 5px;
        margin: 0 0 20px 0;
        background-color: #acacff;
    }
    p{
        font-size: 1rem;
        font-weight: 600;
        color: #121212;
    }
}

.article-figure{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    figure{
        width: 420px;
        height: 420px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.article-mision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 90px 20px 0 20px;
    h2{
        font-size: 1.5rem;
        font-weight: 600;
        color: #121212;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        color: #121212;
    }
}

.article-testamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 90px 250px;
    background-color:#e9ecef;
    .image{
        width: 50px;
        height: 50px;
        svg{
            width: 100%;
            height: 100%;
            color: #acacff;
        }
    }
    .text{
        font-size: 1.1rem;
        font-weight: 300;
        color: #121212;
        margin: 0;
    }
    .autor{
        font-size: 1rem;
        font-weight: 600;
        color: #8d949b;
        margin: 0;
    }
}

.article-parrafo-two{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 60px;
    h2{
        font-size: 1.5rem;
        font-weight: 600;
        color: #121212;
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        color: #121212;
    }
}

.article-figure-two{
    display: flex;
    justify-content: center;
    align-items: center;
    figure{
        width: 420px;
        height: 420px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}